@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html {
  margin: 0;
  min-width: 320px;
  height: 100%;
  overflow-x: hidden;
  font: 14px/1.8 'Noto Sans KR', 'Apple SD Gothic Neo', sans-serif;
  letter-spacing: -0.0125rem;
  color: #161616;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1080px) {
  html {
    font-size: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
